.alert {
    border-radius: 0.15em;
    &.alert-danger-full {
        color: #ffffff;
        background: #ff0059;
    }
    &.alert-success-full {
        color: #ffffff;
        background: #248a44;
    }
    &.alert-info-full {
        color: #ffffff;
        background: #287ec1;
    }
    &.alert-primary-full {
        color: #ffffff;
        background: #3028c1;
    }
    &.alert-warning-full {
        color: #231407;
        background: #e8a90b;
    }
    &.alert-secondary-full {
        color: #9a9a9a;
        background: #5e5c58;
    }
    &.alert-purple-full {
        color: #e8e8e8;
        background: #5e039f;
    }
}
