// 
// tables.scss
//


//Table centered (Custom)
.table-centered {
    td,th {
        vertical-align: middle !important;
    }
}

table {
    &.table {
        thead {
            background: rgb(230, 240, 240);
            border: none !important;
            tr {
                th {
                    border: none;
                    color: #111114;
                }
            }
        }
        tbody {
            tr {
                &:first-child {
                    td {
                        border-top: 0 !important;
                    }
                    th {
                        border-top: 0 !important;
                    }
                }
            }
        }
    }
}